Warning: The lock file is not up to date with the latest changes in pyproject.toml. You may be getting outdated dependencies. Run update to update them.
chameleon==3.9.0
click==7.1.2
pyobjc-core==7.1
pyobjc-framework-cocoa==7.1
rumps==0.3.0
shellescape==3.8.1
